body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 220px;
    text-align: center;
}

.img-logo {
    display: flex;
    justify-content: center;
}

.texto {
    text-align: center;
}


.start {

}


#regressiva{
    color:#000000; 
    font-size: 85px; 
    font-weight: normal;
}

.start {
    
    top: 0px;
    left: 0px;
}

